# available: s3, ftp, ftps
export BACKUP_METHOD=s3

export BACKUPED_HOST="$(uname -n)"
export BACKUPED_DIRS="/etc /var/lib/docker/volumes /home"

export RESTIC_PASSWORD="nonSecurePassword"

# S3 Backup
export AWS_ENDPOINT=s3.eu-west-3.amazonaws.com
export AWS_DEFAULT_REGION="eu-west-3"
export AWS_BUCKET=bucket_name
export AWS_ACCESS_KEY_ID="SAMPLE_KEY_ID"
export AWS_SECRET_ACCESS_KEY="SAMPLE_SECRET_KEY"

# FTP Backup
export FTP_SERVER=ftp.server.invalid
export FTP_USERNAME=backupuser
export FTP_PASSWORD=backuppassword

##
## Do not alter after this line
##

if [ "$BACKUP_METHOD" = "s3" ]; then
    export RESTIC_REPOSITORY="s3:${AWS_ENDPOINT}/${AWS_BUCKET}/${BACKUPED_HOST}"
elif [ "$BACKUP_METHOD" = "ftp" -o "$BACKUP_METHOD" = "ftps" ]; then
    export RESTIC_REPOSITORY="${BACKUP_METHOD}://${FTP_USERNAME}:${FTP_PASSWORD}@${FTP_SERVER}/${BACKUPED_HOST}"
fi
